<head>
  <title>Faculty Registration</title>
  <%= stylesheet_link_tag 'session', media: 'all' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' %>
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span>New Faculty</span></div>

      <%= form_with(model: @faculty, url: faculties_path, local: true) do |form| %>
        <div class="row">
          <i class="fas fa-user"></i>
          <%= form.text_field :fname, class: 'new-user', placeholder: 'First Name' %>
        </div>

        <div class="row">
          <i class="fas fa-user"></i>
          <%= form.text_field :lname, placeholder: 'Last Name' %>
        </div>

        <div class="row">
          <i class="fas fa-envelope"></i>
          <%= form.text_field :email, class: 'new-user', placeholder: 'Email' %>
        </div>

        <div class="row">
          <i class="fas fa-lock"></i>
          <%= form.password_field :password, placeholder: 'Password' %>
        </div>

        <div class="row">
          <i class="fas fa-lock"></i>
          <%= form.password_field :password_confirmation, placeholder: 'Confirm Password' %>
        </div>

        <div class="row button">
          <%= form.submit 'Create Administrator' %>
        </div>

        <div class="signup-link">
          <%= link_to 'Back to Welcome Page', root_path %>
        </div>
      <% end %> 
    </div>
  </div>
</body>
</html>